body {
    font-family: monospace;
    font-size: 24px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr auto 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: ". ....... header ....... ."
                         ". slider container color ."
                         ". ........ info ........ .";
}

.container {
    grid-area: container;
    background-color: grey;
    border: 2px solid grey;
    width: 600px;
    height: 600px;
    justify-self: center;
    display: grid;
}

.square {
    background-color: white;

    padding: 0;
}

.square:hover {
    background-color: grey;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    white-space: nowrap;
}

.colored {
    background-color: black;
}

.titleContainer {
    width: 600px;
    justify-self: center;
    grid-area: header;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-bottom: 8vh;
}

button {
    background-color: rgb(255, 193, 60);
    font-size: 24px;
    font-family: inherit;
    border-radius: 8px;
    padding-block: 8px;
    padding-inline: 16px;
    border: 4px inset;
}

button:hover {
    transform: scale(1.1);
}


.sliderContainer {
    grid-area: slider;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sliderTitle {
    font-size: 24px;
}

.slider {
    -webkit-appearance: none;
    background: gray;
    transform-origin: 75% center;
    transform: rotate(-90deg);
    height: 8px;
    width: 300px;
    border-radius: 4px;
    border: 4px inset black;
    margin-top: 120px;
    margin-right: 150px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 40px;
    background: rgb(216, 213, 204);
    border-radius: 8px;
    border: 4px inset;
}

.slider::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}

#colorButton {
    margin-top: 275px;
    font-size: 24px;
    background-color: rgb(215, 211, 221);
}


.colorContainer {
    grid-area: color;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}

.colorTitle {
    margin-bottom: 20px;
}

#colorSelector {
    -webkit-appearance: none;
    width: 100px;
    height: 100px;
    border: 4px inset white;
    border-radius: 8px;

}

.info {
    grid-area: info;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 24px;
}

.textAndLink {
    display: flex;
    align-items: center;
    justify-content: center;
}

#githubIcon {
    height: 30px;
    margin-left: 12px;
}