body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    border: 2px solid grey;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(64, 1fr);
    grid-template-rows: repeat(64, 1fr);
    margin-bottom: 5vh;
}

.square {
    background-color: white;
    margin: 0;
    padding: 0;
}

.square:hover {
    background-color: grey;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    white-space: nowrap;
}

.colored {
    background-color: black;
}

.titleContainer {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 3vh;
    font-family: monospace;
}

button {
    background-color: rgb(255, 193, 60);
    font-size: 24px;
    font-family: inherit;
    border-radius: 8px;
    padding-block: 8px;
    padding-inline: 16px;
    border-style: none;
}

button:hover {
    transform: scale(1.1);
}