body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "....... header ......."
                         "slider container color"
                         "........ info ........";
}

.container {
    grid-area: container;
    background-color: grey;
    border: 2px solid grey;
    width: 600px;
    height: 600px;
    justify-self: center;
    display: grid;
}

.square {
    background-color: white;

    padding: 0;
}

.square:hover {
    background-color: grey;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    white-space: nowrap;
}

.colored {
    background-color: black;
}

.titleContainer {
    width: 600px;
    justify-self: center;
    grid-area: header;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-bottom: 3vh;
    font-family: monospace;
}

button {
    background-color: rgb(255, 193, 60);
    font-size: 24px;
    font-family: inherit;
    border-radius: 8px;
    padding-block: 8px;
    padding-inline: 16px;
    border-style: inset;
    border: 4px inset;
}

button:hover {
    transform: scale(1.1);
}


.sliderContainer {
    grid-area: slider;
    display: flex;
    justify-content: flex-end;
}

.slider {
    -webkit-appearance: none;
    background: gray;
    height: 8px;
    width: 300px;
    border-radius: 4px;
    border: 4px inset black;
    transform: rotate(-90deg);
    align-self: center;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 40px;
    background: rgb(216, 213, 204);
    border-radius: 4px;
    border: 4px inset;
}

.slider::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}


.colorContainer {
    grid-area: color;
}

.info {
    grid-area: info;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-family: monospace;
    font-size: 24px;
}

.textAndLink {
    display: flex;
    align-items: center;
    justify-content: center;
}

#githubIcon {
    height: 30px;
    margin-left: 12px;
}